@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* > * {
  font-family: "Poppins", sans-serif;
}

body {
    background: #dcdce6;
    background: url('https://static.vecteezy.com/system/resources/previews/023/871/046/non_2x/white-clean-crumpled-paper-background-horizontal-crumpled-empty-paper-template-for-posters-and-banners-illustration-vector.jpg');
}
